* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f1220;
  color: white;
  font-family: Arial, sans-serif;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background: rgb(236, 240, 235);
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
}
nav h2{
  color: black;
}
/* Hero */

section {
  text-align: center;
  padding: 60px 20px;
  margin-top: 80px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Products */

.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.product {
  width: 250px;
  background: white;
  color: black;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 20px;
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.rating {
  color: orange;
  font-weight: bold;
}
.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.product button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.product h3 {
  margin-top: 15px;
}

/* Footer */

footer {
  text-align: center;
  background: white;
  color: black;
  padding: 20px;
  margin-top: 40px;
  
}
footer .bult {
  font-size: 14px;
  color: #555;
  font-family:'Courier New', Courier, monospace;
}
.cart-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-items {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.cart-item {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

}

.remove-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}